.animation__container {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
}

.animation__top {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;

}

.animation__top p {
    display: inline-block;
}

@keyframes marquee {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100%);
    }
  }