.animation__container{
    max-width: 100%;
    overflow: hidden;
}

.animation__top{
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    /* gap: 45px; */
    width: fit-content;
    align-items: start;    
    
    /* animation-name: projectsTopLine;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    max-width: 100%;
    position: relative; /* Agregamos esta propiedad */
}
.text{
    font-family: "Public Sans",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 120px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: rgba(69, 109, 255, 0.35);
    padding: 0px;
    
}

.text__outline{
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: #0056FF;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap; 
    transform: translateX(-100%); 
    /* Ajustamos la posición inicial */
}

.animation__down{
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    /* gap: 45px; */
    width: fit-content;
    align-items: start;    
    /* animation-name: projectsTopLine;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    max-width: 100%;
    position: relative; 
}

.animation__down p {
    
    animation-name: proyectsBottomLine;
    animation-duration: 41s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-delay: 0s;
    transform: translateX(0); 
    /* Ajustamos la posición inicial */
    /* margin-right: 45px; */
    
}

.animation__top p {
    
    
    animation-name: projectsTopLine;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal; 
    animation-delay: 0s;
    transform: translateX(0); /* Ajustamos la posición inicial */
    /* margin-right: 45px; */
}

@keyframes projectsTopLine {
    0% {
        transform: translateX(-3200px);
    }    
    100% {
        transform: none /* translateX(600px); */
    }
}

@keyframes proyectsBottomLine {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(-3200px);
    }
}

.passion{
    position: relative;
    animation-name: passion1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal; 
    animation-delay: 0s;
}

@keyframes passion1 {
    0% {transform: scale(1);}
    50%{transform: scale(1.4);}
    100%{transform: scale(1.2);}
}

@media screen and (max-width: 768px) {
    .text{ 
        font-size: 40px;
        line-height: 42px;    
        letter-spacing: 7px;     
    }
    
    .text__outline{
        -webkit-text-stroke-width: 1.5px;
    }

    @keyframes projectsTopLine {
        0% {
            transform: translateX(-1200px);
        }    
        100% {
            transform: none /* translateX(600px); */
        }
    }
    
    @keyframes proyectsBottomLine {
        0% {
            transform: none;
        }
        100% {
            transform: translateX(-1200px);
        }
    }
}


/* ///////////////////////// otro ejem*/

/* .text__container {
    display: flex;
    flex-flow: column wrap;
    width: 400%; 
    overflow: hidden;
} */

/* .animation__top,
.animation__down {
    flex: 1;
} */

    /* 0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      } */